.App {
  text-align: center;
  overflow-x: hidden;
}
.FirstPart {
  height: 750px;
  width: 100%;
  background-image: url("../Photos/фон.png");
  background-size: 100%;

}
.App-logo {
  margin-left: 40%;
  margin-top: 5%;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Body {
  /*min-height: 100%;*/
  min-width: 640px;
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  top: 0;
  left: 0;
  position: relative;
  margin-top: -63px;
  z-index: 2;
}

@media screen and (max-width: 640px){
  img.bg {
    left: 50%;
    margin-left: -320px;
  }
}

.About {
  position: relative;
  z-index: 2;
  margin-top: 100px;
}

.TextAbout {
  margin: 70px 200px 100px 200px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Buy tickets in menu*/

.Form1 {
  background-color: white;
  height: 89%;
  border-radius: 0px 0px 20px 20px;
}

.Form1Part1 {
  background-color: white;
  height: 100px;
}

.input1 {
  height: 60px;
  width: 150px;
  border-width: medium;
  border-color: #e30ccd;
  border-style: solid;
  border-radius: 0px 5px 5px 0px;
}

input::-webkit-input-placeholder {
  color: #79055f;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.input0 {
  height: 60px;
  width: 150px;
  border-width: medium;
  border-color: #e30ccd;
  border-style: solid;
  border-radius: 5px 0px 0px 5px;
}

.input2 {
  height: 60px;
  width: 150px;
  border-width: medium;
  border-color: #e30ccd;
  border-style: solid;
  position: relative;
  top: -8px;
}

.input3 {
  height: 60px;
  width: 150px;
  border-width: medium;
  border-color: #e30ccd;
  border-style: solid;
  border-radius: 0px 5px 5px 0px;
  position: relative;
  top: -8px;
}

.tuda {
  margin-left: 10%;
  height: 60px;
  width: 60px;
  background-image: url(../Photos/FlyOut.jpg);
  background-size: 100%;
  display: inline-block;
  position: relative;
  top: 24px;
  border-width: medium;
  border-color: #e30ccd;
  border-style: solid;
  border-radius: 5px 0px 0px 5px;
}

.obratno {
  height: 60px;
  width: 60px;
  background-image: url(../Photos/FlyIn.jpg);
  background-size: 100%;
  display: inline-block;
  position: relative;
  top: 24px;
  border-width: medium;
  border-color: #e30ccd;
  border-style: solid;
}

.Form1Part2 {
  position: relative;
  top: 10%;
  right: 29%;
}

.input4 {
  height: 60px;
  width: 155px;
  border-width: medium;
  border-color: #e30ccd;
  border-style: solid;
  border-radius: 5px 0px 0px 5px;
}

.input5 {
  height: 67px;
  width: 155px;
  border-width: medium;
  border-color: #e30ccd;
  border-style: solid;
  border-radius: 0px 5px 5px 0px;
}

.Option {
  color: #79055f;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.Button {
  margin-left: 45%;
  margin-top: -2%
}

.gradient-button {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: white;
  padding: 26px 186px;
  border-radius: 5px/5px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #e30ccd 0%, #79055f 51%, #e30ccd 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.gradient-button:hover {
  background-position: right center;
}

/*статус рейса*/

.input6 {
  height: 95%;
  width: 98%;
}

.input6_1 {
  height: 95%;
  width: 98%;
}

.input7 {
  height: 98%;
  width: 98%;
}

.inputBookingNumber {
  position: relative;
  top: 40px;
  height: 60px;
  width: 51%;
  border-style: solid;
  border-width: medium;
  border-color: #e30ccd;
  border-radius: 5px/5px;
  color: black;
  font-weight: 550;
  font-size: 15px;
}

.tuda2 {
  height: 98%;
  width: 100%;
  background-image: url(../Photos/FlyOut.jpg);
  background-size: 100%;
  border-width: medium;
  border-color: #e30ccd;
  border-style: solid;
}

.ContenerTab {
  width: 29.33%;
  height: 60px;

}
.ContenerTab2 {
  height: 60px;
  width: 12%;
  margin-left: 0.33%;
}
.ContenerTab3 {
  height: 60px;
  width: 28.61%;
  margin-left: 0.72%;
}
.FormTabCont {
  display: flex;
  height: 62px;
  width: 80%;
  margin-left: 10%;
  border-width: medium;
  border-color: #e30ccd;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}

.Button2 {
  margin-top: 5%;
}

.Button3 {
  position: relative;
  top: 130px;
}

.__gradient-button {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: white;
  padding: 26px 36.5%;
  border-radius: 5px/5px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #e30ccd 0%, #79055f 51%, #e30ccd 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.__gradient-button:hover {
  background-position: right center;
}

/* Регистрация на рейс */

.input8 {
  margin-top: 5%;
  height: 60px;
  width: 340px;
  border-width: medium;
  border-color: #e30ccd;
  border-style: solid;
  border-radius: 5px 0px 0px 5px;
}

.input9 {
  height: 60px;
  width: 220px;
  border-width: medium;
  border-color: #e30ccd;
  border-style: solid;
  border-radius: 0px 5px 5px 0px;
}

/* Мои бронирования*/

.input10 {
  margin-top: 7%;
  height: 60px;
  width: 430px;
  border-width: medium;
  border-color: #e30ccd;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}

/* Slider of cites*/

.City1 {
  color: white;
  height: 200px;
  background: url(../Photos/Cityes/stambul-dostoprimechatelnosti.jpg) 0 0 no-repeat;

  border-radius: 20px/20px;
}
.City2 {
  color: white;
  height: 200px;
  background: url(../Photos/Cityes/rim.jpg) 0 0 no-repeat;

  border-radius: 20px/20px;
}
.City3 {
  color: white;
  height: 200px;
  background: url(../Photos/Cityes/berlin.jpg) 0 0 no-repeat;

  border-radius: 20px/20px;
}
.City4 {
  color: white;
  height: 200px;
  background: url(../Photos/Cityes/paris.jpg) 0 0 no-repeat;

  border-radius: 20px/20px;
}
.City5 {
  color: white;
  height: 200px;
  background: url(../Photos/Cityes/allepo.jpg) 0 0 no-repeat;

  border-radius: 20px/20px;
}
.City6 {
  color: white;
  height: 200px;
  background: url(../Photos/Cityes/mariupol.jpg) 0 0 no-repeat;

  border-radius: 20px/20px;
}

/* CSS Menu */
.tabs {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs li {
  width: 25%;
}

.tabs li:last-child {
  margin-right: 0;
}

.tabs a {
  border-radius: 20px 20px 0px 0px;
  background-color: #79055f;
  display: block;
  padding: 8px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.tabs a:hover {
  color: #fff;
  background-color: #e30ccd;
}

.tabs .active a {
  color: black;
  background-color: white;

}

.Menu {
  background-color: #79055f;
  width: 60%;
  height: 320px;
  position: relative;
  top: 250px;
  left: 20%;
  border-radius: 20px/20px;
}